@model string
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h3>Giriş Yapabilirsiniz</h3>


@if (TempData["ResetPasswordSuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>BİLGİ!</strong> @TempData["ResetPasswordSuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />
}


@if (TempData["ResetPasswordFailMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>DİKKAT!</strong> @TempData["ResetPasswordFailMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />
}
@if (TempData["ForgotPasswordSuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>BİLGİ!</strong> @TempData["ForgotPasswordSuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />
}


@if (TempData["ForgotPasswordFailMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>DİKKAT!</strong> @TempData["ForgotPasswordFailMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />
}


@if (TempData["ActivationFailMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>DİKKAT!</strong> @TempData["ActivationFailMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />
}




@if (TempData["ActivationSuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>BİLGİ!</strong> @TempData["ActivationSuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />
}


@if (TempData["RegisterFailMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>HATA!</strong> @TempData["RegisterFailMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />
}
@if (TempData["RegisterSuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>BİLGİ!</strong> @TempData["RegisterSuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />
}

<div class="row">

    <div class="col-6 offset-3  offset-3">



        <form asp-controller="Account" asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control" name="email" asp-for="@Model" />
            </div>

            <div class="form-group">
                <label>Şifre:</label>
                <input type="password" class="form-control" name="password" />
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-primary">GİRİŞ YAP</button>
                <a asp-controller="Account" asp-action="Register">Üye Olmak için tıklayınız</a>
                <a asp-controller="Account" asp-action="ForgotPassword">Şifremi Unuttum</a>

            </div>

        </form>
    </div>
</div>

